<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org">
<head>
    <div th:replace="~{fragments/site :: header}"></div>
    <div th:replace="~{fragments/site :: datatables-css}"></div>
    <title>Produtos</title>
</head>
<body>
<div th:replace="~{fragments/site :: menu}"></div>

<div class="container">
    <nav class="nav border mt-2 mb-4 mb-4 bg-light justify-content-between">
        <span class="nav-link font-weight-bold">Produtos</span>
        <a class="nav-link active" href="/admin/products/create">Novo</a>
    </nav>

    <table id="table-products" class="table table-sm table-striped table-bordered nowrap w-100">
        <thead class="thead-dark">
        <tr>
            <th scope="col">foto</th>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Categoria</th>
            <th scope="col">Preço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
    </table>
</div>

<div th:replace="~{fragments/site :: scripts}"></div>
<div th:replace="~{fragments/site :: datatables-js}"></div>
<script th:src="@{/js/products.js}"></script>
</body>
</html>