<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org">
<head>
    <div th:replace="~{fragments/site :: header}"></div>
</head>
<body>
    <div th:replace="~{fragments/site :: menu}"></div>
    <div class="container">
        <div th:replace="~{fragments/site :: messages}"></div>
        <div class="row">
            <div th:replace="~{fragments/cards :: product-card}"></div>
        </div>
    </div>

    <div th:replace="~{fragments/site :: scripts}"></div>
</body>
</html>