<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org">
<head>
    <div th:replace="~{fragments/site :: header}"></div>
    <title>Registrar</title>
</head>
<body>
    <div th:replace="~{fragments/site :: menu}"></div>
    <div class="container w-50">
        <h3>Registrar Novo Usuário</h3>
        <form th:object="${userDto}" th:action="@{/register}" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="mb-3">
                <label for="name" class="form-label">Nome *</label>
                <input type="text" class="form-control" th:field="${userDto.name}" id="name">
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="${userDto.name}"></p>
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" th:field="${userDto.lastname}" id="lastname">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">e-mail *</label>
                <input type="email" class="form-control" th:field="*{username}" id="username">
                <p th:if="${#fields.hasErrors('username')}" th:errorclass="text-danger" th:errors="${userDto.username}"></p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha *</label>
                <input type="password" class="form-control" th:field="*{password}" id="password">
                <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${userDto.password}"></p>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Confirmar senha *</label>
                <input type="password" class="form-control" th:field="*{confirm}" id="confirm">
                <p th:if="${#fields.hasErrors('confirm')}" th:errorclass="text-danger" th:errors="${userDto.confirm}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <div th:replace="~{fragments/site :: scripts}"></div>
</body>
</html>
